body {
  background-color: white;
}
/* 
.container {
  display: grid;
} */
body > .container > div > div:not(.text) {
  background-color: #aca5a5;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  > div {
    background-color: white;
    border: 2px solid #eee;
    height: 400px;
  }
}
.banded {
  display: grid;
  grid-template-areas:
    "item1 . item2"
    "item3 item3 item3"
    "item3 item3 item3"
    "item4 item5 item5"
    "item4 item5 item5"
    "item6 item6 item7"
    "item6 item6 item7"
    "text text text";
  gap: 10px;
  padding: 20px;
}
.text {
  grid-area: text;
  background-color: transparent;
  text-transform: capitalize;
  font-size: 2rem;
  .row {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    a {
      color: skyblue;
      font-size: 1rem;
      text-decoration: none;
    }
    a:first-of-type {
      text-transform: uppercase;
    }
  }
}

.blog {
  display: grid;
  grid-template-areas:
    "item1 item1 item1"
    "item2 item2 item3"
    "item2 item2 item3"
    "item2 item2 item3"
    "item2 item2 item3"
    "item2 item2 item3"
    "item4 item4 item4"
    "text text text";
  gap: 10px;
  padding: 20px;
}

.so-boxy {
  display: grid;
  grid-template-areas:
    "item1 item1 item1 item1"
    "item2 item2 item3 item3"
    "item2 item2 item3 item3"
    "item2 item2 item4 item5"
    "item2 item2 item4 item5"
    "item6 item6 item6 item6"
    "item6 item6 item6 item6"
    "item7 item8 item9 item10"
    "item7 item8 item9 item10"
    "item11 item11 item11 item11"
    "text text text text";
  gap: 10px;
  padding: 20px;
}
.work-space {
  display: grid;
  grid-template-areas:
    "item1 item1 item1 item1 item1 item1"
    "item1 item1 item1 item1 item1 item1"
    "item2 item2 item2 item2 item2 item2"
    "item2 item2 item2 item2 item2 item2"
    "item2 item2 item2 item2 item2 item2"
    "item2 item2 item2 item2 item2 item2"
    "item3 item4 item4 item5 item5 item6"
    "item3 item4 item4 item5 item5 item6"
    "item3 item4 item4 item5 item5 item6"
    "item3 item4 item4 item5 item5 item6"
    "item7 item7 item7 item7 item8 item8"
    "item7 item7 item7 item7 item8 item8"
    " item9 item9 item9 item9 item9 item9"
    " item9 item9 item9 item9 item9 item9"
    "text text text text text text";
  gap: 10px;
  padding: 20px;
}
